# Supabase Configuration
VITE_SUPABASE_URL=https://nrgmjczvxchyavisdalq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yZ21qY3p2eGNoeWF2aXNkYWxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4MDAyMTYsImV4cCI6MjEwMjM3NjIxNn0.T8zV9RVawRB64MWQe8E1JgoNRzSynEcK9CUay7pFOfE
VITE_SUPABASE_FUNCTIONS_URL=https://nrgmjczvxchyavisdalq.supabase.co/functions/v1

# Backend / Microservice API Base URL
VITE_API_URL=http://localhost:8000/api
